# Python stuff
__pycache__/
*.py[cod]
.cache/

# Service folder
services/*
!services/default.cfg
!services/default.cfg.example

# Building folders
_build/
docs/_build

# Dev's
acquisition/
.vscode
venv/

#Swarm prod
prod_*.yaml
