[serviceType]
default_version = 1.0.0
version = 1.0.0,1.0.1,2.0.0
value = OGC:SOS
codespace = http://opengeospatial.net

[getobservation]
strictOGC = False
correct_qi = 110
stat_qi = 200
aggregate_nodata_qi = -100
default_qi = 100
aggregate_nodata = -999.9
maxGoPeriod = 0
transactional_log = False

[serviceurl]
url = http://localhost/istsos

[parameters]
GO_resultModel = om:Observation
DS_outputFormats = text/xml;subtype="sensorML/1.0.1"
DS_outputFormats_2_0_0 = http://www.opengis.net/sensorML/1.0.1
GC_Section = serviceidentification,serviceprovider,operationsmetadata,contents,all
GC_Section_2_0_0 = serviceidentification,serviceprovider,operationsmetadata,contents,filtercapabilities,all
GO_responseFormat = text/xml;subtype="om/1.0.0",application/json,text/plain,text/xml,text/x-json
GO_responseFormat_2_0_0 = http://www.opengis.net/om/2.0,text/plain
version = 1.0.0
GO_timeFormats = ISO 8601 (e.g.: 1997-12-17T07:37:16-08),xsi:type='TimeInstantType',xsi:type='TimePeriodType'
requests = getcapabilities,describesensor,getobservation,getfeatureofinterest,insertobservation,registersensor
GO_responseMode = inline

[urn]
property = urn:ogc:def:property:x-istsos:1.0:
offering = urn:ogc:def:offering:x-istsos:1.0:
sensor = urn:ogc:def:sensor:x-istsos:1.0:
phenomena = urn:ogc:def:phenomenon:x-istsos:1.0:
feature = urn:ogc:def:feature:x-istsos:1.0:
sensorType = urn:ogc:def:sensorType:x-istsos:1.0:
process = urn:ogc:def:process:x-istsos:1.0:
role = urn:role:x-istsos:1.0:
refsystem = urn:ogc:crs:EPSG:
dataType = urn:ogc:def:dataType:x-istsos:1.0:
time = urn:ogc:def:parameter:x-istsos:1.0:time:iso8601
keywords = urn:ogc:def:keywords:x-istsos:1.0:
identifier = urn:ogc:def:identifier:x-istsos:1.0:
parameter = urn:ogc:def:parameter:x-istsos:1.0:
procedure = urn:ogc:def:procedure:x-istsos:1.0:

[connection]
dbname = istsos
host = localhost
user = postgres
password = postgres
port = 5432

[identification]
title = IST Sensor Observation Service
abstract = monitoring network
urnversion = 1.0
authority = x-istsos
fees = NONE
keywords = SOS,SENSOR,NETWORK
accessConstrains = NONE

[foiGeometryType]
Box = surface
Polygon = surface
Point = station

[parGeom]
y = y-position,north,northing,lat,latitude,y
z = z-position,elevation,quota,z
x = x-position,east,easting,lon,longitude,x

[provider]
contactCountry = Switzerland
providerName = Istitute Of Earth Science - SUPSI
contactCity = Canobbio
contactVoice = +41586666200
contactEmail = geoservice@supsi.ch
contactDeliveryPoint = Campus Trevano
contactName = Team Geomatica
contactPostalCode = 6952
contactFax = +41586666209
contactAdminArea = Canton Ticino
providerSite = http://www.supsi.ch/ist
contactPosition = Data manager

[geo]
zAxisName = altitude
xAxisName = easting
yAxisName = northing
allowedEPSG = 3857,21781
istsosepsg = 4326

[initialization]
level = 42

[connectionWns]
dbname = istsos
host = 127.0.0.1
user = postgres
password = postgres
port = 5432

[mail]
usermail = 
password = 
smtp = 
port = 

[twitter]
oauth_token = 
oauth_secret = 
consumer_key = 
consumer_secret = 

[mqtt]
broker_url = 
broker_port = 
broker_user = 
broker_password = 
broker_topic = 
