Source: istsos
Maintainer: Institute of Earth Science - SUPSI <geoservice@supsi.ch>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               python3-all-dev,
               python3,
               python3-setuptools,
               apache2,
               dh-python
Standards-Version: 3.9.6
Vcs-Browser: https://sourceforge.net/p/istsos/code/HEAD/tree/
Vcs-Svn: svn://svn.code.sf.net/p/istsos/code/trunk
Homepage: http://istsos.org

Package: python-istsos
Architecture: all 
Depends: ${misc:Depends},
         python3-dateutil,
         python3-isodate,
         python3-lxml,
         python3-psycopg2,
         python3-tz,
         python3-requests,
         python3-urllib3,
         libapache2-mod-wsgi-py3,
         apache2
Recommends: postgis
Description: Sensor Observation Service Data Management system
 IstSOS is an OGC Sensor Observation Service (SOS) server implementation
 written in Python. istSOS allows for managing and dispatch observations
 from monitoring sensors according to the Sensor Observation Service standard.
 .
 The project provides also a Graphical user Interface that allows for easing
 the daily operations and a RESTFul Web api for automatizing administration
 procedures. 
