/*******************************************/
/* MainView header */
/*******************************************/
.x-panel-header-default {
    font-family: 'Electrolize', sans-serif, tahoma, arial, verdana, sans-serif !important;
    font-size: 10px;
    line-height: 10px;
    height:50px;
    color: withe;
    vertical-align:middle;
    border-color: #99BBE8;
    border-width: 1px;
    border-style: solid;
    background-image: none;
    background-color: #FF0000;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#DAE7F6),color-stop(45%,#CDDEF3),color-stop(46%,#ABC7EC),color-stop(50%,#ABC7EC),color-stop(51%,#B8CFEE),color-stop(100%,#CBDDF3));
    background-image: -moz-linear-gradient(top,#DAE7F6,#CDDEF3 45%,#ABC7EC 46%,#ABC7EC 50%,#B8CFEE 51%,#CBDDF3);
    background-image: linear-gradient(135deg, #008000 0%,#0e0e0e 100%);
    -moz-box-shadow: #f4f8fd 0 1px 0 0 inset;
    -webkit-box-shadow: #F4F8FD 0 1px 0 0 inset;
    -o-box-shadow: #f4f8fd 0 1px 0 0 inset;
    box-shadow: #F4F8FD 0 1px 0 0 inset;
}

#content_header.x-panel-header-default{
    padding: 4px 0 0 10px;
    height:25px;
    top:0;
}


.divButton{
    position:absolute;
    width:100px;
    left:0;
    top:0;
    border-color:green;
    background-color: rgba(0,0,0,0);
    height:100px;
}

#submenuIcon{
    height:93px;
    padding-left: 5px;
    padding-top:8px;
}

.textLabel{
    right:10px !important;
}


.selector{
    position:absolute;
    background-color:rgba(0,0,0,0);
    width:250px;
    height: 100px;
    top:0;
    padding-top:10px;
    padding-left:10px;
}

#selService.selector {
    left: 100px !important;
}

#selTime.selector{
    left: 350px;
}


.mainHeaderTitle {
    padding-top:10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 24px;
    height: 48px;
    text-align: right;
}

.submenu{
    text-align: center;
    color: darkolivegreen;
    position: relative;
    border-bottom: 4px transparent solid;

}
.submenuOver{
    color: green;
    text-align: center;
    position: relative;
    border-bottom: 5px grey solid;
}
.submenuSelect{
    color: green;
    text-align: center;
    position: relative;
    border-bottom: 5px green solid;
}

.submenuContent{
    position: absolute;
    bottom: 6;
    text-align: center;
    width: 100%;
}
.submenuIcon{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}

.pressed-button{
    background-color: gray !important;
}



.exc{
    border-width: 1px !important;
    border-color: green !important;
}

/*******************************************/
/* MainView body */
/*******************************************/


#grid{
    left:0;
    top:0;
    width:calc(100% - 220px);
    height:100%;
    
}
#loadingicons{
    position:absolute;
    top:calc(50% - 125px);
    left:calc(50% - 150px);
    width:300px;
    height:250px;
    background-color:transparent;
    background-image:url("../resources/images/loadingwheel.gif");
    background-position: center center;
	background-size: contain;
}

#legend{
    position:absolute;
    right:0;
    top:0;
    width:220px;
    height:100%;
}

#popup{
    position:absolute;
    display:block;
    z-index:100;
    visibility:hidden;
    line-height:1;
    font-weight:bold;
    padding:12px;
    background:rgba(0,0,0,0.7);
    color:#fff;
    border-radius:2px;
}

.label{
    display: inline-block;
    width:100%;
    border-bottom: 5px green solid;
    font-size:20px;
    margin-left: 0px;
    margin-top:5px;
    margin-bottom:5px;
}

.legendElement{
    margin-left:5px;
}

/*******************************************/
/* MainView footer */
/*******************************************/
.mainFooter {
    position:absolute;
    bottom:0;
    left:0;
    font-weight: bold !important;
    font-family: 'Electrolize', sans-serif, tahoma, arial, verdana, sans-serif !important;
    font-size: 10px !important;
    line-height:10px;
    color: white !important;
    padding-top: 8px;
    /*background-color: green !important;*/
    text-align: center;
    background: #008000 !important;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjN2Q3ZTdkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBlMGUwZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=) !important;
    background: -moz-linear-gradient(-45deg,  #008000 0%, #0e0e0e 100%) !important;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#008000), color-stop(100%,#0e0e0e)) !important;
    background: -webkit-linear-gradient(-45deg,  #008000 0%,#0e0e0e 100%) !important;
    background: -o-linear-gradient(-45deg,  #008000 0%,#0e0e0e 100%) !important;
    background: -ms-linear-gradient(-45deg,  #008000 0%,#0e0e0e 100%) !important;
    background: linear-gradient(135deg,  #008000 0%,#0e0e0e 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008000', endColorstr='#0e0e0e',GradientType=1 ) !important;

}

/*******************************************/
/* ProcView body */
/*******************************************/
#details{
    position:absolute;
    left:0;
    width:50%;
    height:40% !important;
    padding-left:1%;
    padding-right: 1%;
    padding-top:2%;
    border-top: 2px green !important;
}

#map{
    position:absolute;
    left:0;
    bottom:10px;
    width:50%;
    height:50%;
    padding-left:1%;
    padding-bottom:1%;
}

#exception{
    position:absolute;
    right:0;
    width:50%;
    height:100%;
    padding-left:1%;
    padding-top:2%;
}

.labelProc{
    display: inline-block;
    width:98%;
    border-bottom: 5px green solid;
    font-size:20px;
    margin-left: 5px;
    margin-bottom:10px;
}

.textField{
    width:100%;
    padding-left:15px;
}



/*******************************************/
/* ExcView */
/*******************************************/

.check{
    position:absolute;
    right:15px;
    top:10px;
}

.delete{
    position: absolute;
    right:15px;
    top:39px;
}




/*******************************************/
/* ???? */
/*******************************************/
.x-panel-body-default {
    background: whitesmoke;$
    border-color: green !important;
    color: black;
    border-width: 2px !important;
    border-style: solid;
}

.x-panel-collapsed .x-window-header-default, .x-panel-collapsed .x-panel-header-default {
    border-color: BLACK !important;
}

.x-window-default {
    background-color: green !important;
    border-color: green !important;
}
.x-window-header-text-default {
    color: white !important;
    font-family: 'Electrolize', sans-serif, tahoma, arial, verdana, sans-serif !important;
}
.x-message-box .x-window-body {
    background-color: white !important;
}
.x-window-header-default-top {
    background-color: green !important;
    border-color: green !important;
}
.x-window-header-default .x-tool-img {
    background-color: green !important;
}
.x-tool-close{
    background-color:green !important;
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}
.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}

.x-form-trigger {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    /*border-right: inherit;
    border-bottom: inherit;*/
    border-width: 1px !important;
    border-color: green !important;
}

.x-btn-default-small .x-btn-inner {
    color: white !important;
}

.x-btn-default-small {
    background-color: green !important;
    background-image: none !important;
    border-radius: 5px 5px 5px 5px !important;
}
.x-btn-inner {
    font-family: 'Electrolize', sans-serif, tahoma, "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif !important;
    font-size: 16px !important;
}

.x-btn-group-default-framed {
    background-color: white !important;
}

.x-btn-default-toolbar-small {
    border-color: #cbcbcb !important;
    border-radius: 5px 5px 5px 5px !important;
}

.x-btn-default-toolbar-small .x-btn-inner {
    color: white !important;
}

.x-btn-default-toolbar-small-over {
    background-color: green !important;
    background-image:  none  !important;
    border-color: white !important;
    border-radius: 5px 5px 5px 5px !important;
}
.x-btn-default-toolbar-small-focus {
    background-color: green !important;
    background-image:  none  !important;
    border-color: white !important;
    border-radius: 5px 5px 5px 5px !important;
}
.x-btn-default-toolbar-small-menu-active, .x-btn-default-toolbar-small-pressed {
    background-color: grey !important;
    background-image:  none  !important;
    border-color: black !important;
    border-radius: 5px 5px 5px 5px !important;
}

.x-btn-default-small-over {
    background-color: grey !important;
    background-image:  none  !important;
    border-color: white !important;
    border-radius: 5px 5px 5px 5px !important;
}
.x-btn-default-small-focus {
    background-color: green !important;
    background-image: none  !important;
    border-color: white !important;
    border-radius: 5px 5px 5px 5px !important;
}
.x-btn-default-small-menu-active, .x-btn-default-small-pressed {
    background-color: yellowgreen !important;
    background-image: none  !important;
    border-color: green !important;
    border-radius: 5px 5px 5px 5px !important;
}
.x-form-trigger-input-cell{
    border-width:1;
    border-color: green !important;
}